black==24.3.0
exceptiongroup==1.2.0
flake8==7.0.0
iniconfig==2.0.0
isort==5.13.2
numpy==1.26.3
packaging==23.2
pandas==2.2.0
plotly==5.18.0
pluggy==1.4.0
pytest==7.4.4
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
streamlit==1.31.1
supabase==1.2.0
tomli==2.0.1